.vscode/settings.json
Labo_2/output/Cercles/Cercle2/100_Cercle2.jpg
Labo_2/output/Cercles/Cercle2/101_Cercle2.jpg
Labo_2/output/Cercles/Cercle2/102_Cercle2.jpg
Labo_2/output/Cercles/Cercle2/103_Cercle2.jpg
Labo_2/output/Cercles/Cercle5/100_Cercle5.jpg
Labo_2/output/Cercles/Cercle5/101_Cercle5.jpg
Labo_2/output/Cercles/Cercle5/102_Cercle5.jpg
Labo_2/output/Cercles/Cercle5/103_Cercle5.jpg
Labo_2/output/Diamants/Diamant2/100_Diamant2.jpg
Labo_2/output/Diamants/Diamant2/101_Diamant2.jpg
Labo_2/output/Diamants/Diamant2/102_Diamant2.jpg
Labo_2/output/Diamants/Diamant2/103_Diamant2.jpg
Labo_2/output/Diamants/Diamant5/100_Diamant5.jpg
Labo_2/output/Diamants/Diamant5/101_Diamant5.jpg
Labo_2/output/Diamants/Diamant5/102_Diamant5.jpg
Labo_2/output/Diamants/Diamant5/103_Diamant5.jpg
Labo_2/output/Hexagones/Hexagone2/100_Hexagone2.jpg
Labo_2/output/Hexagones/Hexagone2/101_Hexagone2.jpg
Labo_2/output/Hexagones/Hexagone2/102_Hexagone2.jpg
Labo_2/output/Hexagones/Hexagone2/103_Hexagone2.jpg
Labo_2/output/Hexagones/Hexagone5/100_Hexagone5.jpg
Labo_2/output/Hexagones/Hexagone5/101_Hexagone5.jpg
Labo_2/output/Hexagones/Hexagone5/102_Hexagone5.jpg
Labo_2/output/Hexagones/Hexagone5/103_Hexagone5.jpg
Labo_2/output/Triangles/Triangle2/100_Triangle2.jpg
Labo_2/output/Triangles/Triangle2/101_Triangle2.jpg
Labo_2/output/Triangles/Triangle2/102_Triangle2.jpg
Labo_2/output/Triangles/Triangle2/103_Triangle2.jpg
Labo_2/output/Triangles/Triangle5/100_Triangle5.jpg
Labo_2/output/Triangles/Triangle5/101_Triangle5.jpg
Labo_2/output/Triangles/Triangle5/102_Triangle5.jpg
Labo_2/output/Triangles/Triangle5/103_Triangle5.jpg

Labo_2/src/model/__pycache__/
